.modal-overlay {
  z-index: 1000;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.opacity-30 {
  opacity: 0.3;
  /* Adjust the opacity as needed */
}


/* Marquee CSS */
.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee {
  display: flex;
  gap: 50px; /* Space between repetitions */
  width: max-content;
  font-size: 1rem; /* Responsive text */
  font-weight: bold;
  animation: marquee-scroll 20s linear infinite;
}
.emoji {
  color: #00ff00 !important; /* Green emoji color */
}

@keyframes marquee-scroll {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

/* Responsive text size */
@media (max-width: 768px) {
  .marquee {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .marquee {
    font-size: 0.8rem;
  }
}


